@font-face {
    font-family: 'Rany';
    src: local('Rany'), 
         url('../assets/fonts/rany/rany.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(90deg, rgba(234,234,255,1) 0%, rgba(234,234,255,1) 0%, rgba(255,255,255,1) 20%, rgba(252,252,255,1) 81%, rgba(234,234,255,1) 100%);
}

.header {
    margin: 10px 0;
    text-align: center;
    height: 45px;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #805f22;
    
}

.textarea {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 940px;
    height: 220px;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.keyboard {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, 0%);
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #eceaff;
    box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 1) inset;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 600;
}

.keyboard__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px;
}

.keyboard__row_key {
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    /*outline: 1px solid #ff11df;*/
    border-radius: 5px;
    background-color: #d3d3d3;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    color:rgb(39, 39, 39);
    box-shadow: -2px -2px 3px -2px rgba(0, 0, 0, 1) inset;
}

.keyboard__row_key:link, .keyboard__row_key:visited {
    text-decoration: none;
}

.keyboard__row_key:hover {
    cursor: pointer;
    background-color:rgb(166, 172, 253);
}

.keyboard__row_key:active {
    cursor: pointer;
    background-color:rgb(136, 144, 255);
    box-shadow: -1px -2px 3px -1px rgba(0, 0, 0, 1);
}

.Backspace {
    background-color: #a3a3a3;
    width: 130px;
}

.Tab {
    background-color: #a3a3a3;
    width: 70px;
}

.Delete {
    background-color: #a3a3a3;
    width: 60px;
}

.CapsLock {
    background-color: #a3a3a3;
    width: 130px;
}

.Enter {
    background-color: #a3a3a3;
    width: 110px;
}

.ShiftLeft {
    background-color: #a3a3a3;
    width: 130px;
}

.ShiftRight {
    background-color: #a3a3a3;
    width: 110px;
}

.ControlLeft, .ControlRight, .AltLeft, .AltRight, .Win {
    background-color: #a3a3a3;
}

.Space {  /*ПРОБЕЛ*/
    width: 436px;
}

.description {
    margin-top: 575px;
    text-align: center;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.active {
    background-color:rgb(136, 144, 255);
    box-shadow: -1px -2px 3px -1px rgba(0, 0, 0, 1);
}